@using StackExchange.Opserver.Views.Elastic
@model DashboardModel
@{
    Layout = null;
    var c = Model.CurrentCluster;
    var i = Model.CurrentIndexName;
    var shards = (Model.WarningsOnly ? c.TroubledShards : c.AllShards).Where(s => i == null || s.Index == i).ToList();
}
<h4 class="modal-title">
    @shards.Count.ToComma() Shards @(Model.WarningsOnly ? "in trouble" : "") on @c.HealthStatus.Data.TotalNodeCount.Pluralize("node") (@c.HealthStatus.Data.Name)
</h4>
@{ Html.RenderPartial("Shards.Table", Model); }