image: Visual Studio 2019

install:
  - choco install dotnet-sdk --version 8.0.100

skip_branch_with_pr: true
skip_tags: true
skip_commits:
  files:
    - '**/*.md'
    - docs/*

environment:
  Appveyor: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

build_script:
  - cmd: dotnet build

test: off