{
    "clusters": [
        {
            "name": "NY Production",
            "refreshIntervalSeconds": 10,
            "nodes": [
                "ny-search01",
                "ny-search02",
                "ny-search03"
            ]
        },
        {
            "name": "NY Development",
            "refreshIntervalSeconds": 20,
            "nodes": [
                "ny-devsearch01",
                "ny-devsearch02"
            ]
        },
        {
            "name": "NY Dev Logstash",
            "refreshIntervalSeconds": 20,
            "nodes": [
                "ny-devlogstash01",
                "ny-devlogstash02"
            ]
        }
    ]
}