{
    "queryTimeout": "3000",
    "viewGroups": "*",
    "adminGroups": "SysAdmins",
    "user": "user",
    "password": "pass",
    "adminUser": "adminuser",
    "adminPassword": "adminpass",
    "groups": [
        {
            "name": "NY T1: Primary",
            "description": "Primary",
            "instances": [
                { "name": "LB05", "url": "http://198.252.206.10:7001/haproxy" },
                { "name": "LB06", "url": "http://198.252.206.11:7001/haproxy" }
            ]
        },
        {
            "name": "NY T2: Promo/Support",
            "description": "Promotions",
            "instances": [
                { "name": "LB05", "url": "http://198.252.206.10:7002/haproxy" },
                { "name": "LB06", "url": "http://198.252.206.11:7002/haproxy" }
            ]
        },
        {
            "name": "NY T3: Sockets",
            "description": "Sockets",
            "instances": [
                { "name": "LB05", "url": "http://198.252.206.10:7003/haproxy" },
                { "name": "LB06", "url": "http://198.252.206.11:7003/haproxy" }
            ]
        },
        {
            "name": "NY T4: Dev",
            "description": "Development",
            "instances": [
                { "name": "LB05", "url": "http://198.252.206.10:7004/haproxy" },
                { "name": "LB06", "url": "http://198.252.206.11:7004/haproxy" }
            ]
        },
        {
            "name": "NY T20: Chat",
            "description": "Chat",
            "instances": [
                { "name": "LB05", "url": "http://198.252.206.10:7020/haproxy" },
                { "name": "LB06", "url": "http://198.252.206.11:7020/haproxy" }
            ]
        },
        {
            "name": "OR T1: Primary",
            "description": "Primary",
            "instances": [
                { "name": "LB01", "url": "http://69.59.197.10:7001/haproxy" },
                { "name": "LB02", "url": "http://69.59.197.11:7001/haproxy" }
            ]
        },
        {
            "name": "OR T2: Promo/Support",
            "description": "Promo",
            "instances": [
                { "name": "LB01", "url": "http://69.59.197.10:7002/haproxy" },
                { "name": "LB02", "url": "http://69.59.197.11:7002/haproxy" }
            ]
        },
        {
            "name": "OR T3: Sockets",
            "description": "Sockets",
            "instances": [
                { "name": "LB01", "url": "http://69.59.197.10:7003/haproxy" },
                { "name": "LB02", "url": "http://69.59.197.11:7003/haproxy" }
            ]
        },
        {
            "name": "OR T4: Dev",
            "description": "Development",
            "instances": [
                { "name": "LB01", "url": "http://69.59.197.10:7004/haproxy" },
                { "name": "LB02", "url": "http://69.59.197.11:7004/haproxy" }
            ]
        },
        {
            "name": "OR T20: Chat",
            "description": "Chat",
            "instances": [
                { "name": "LB01", "url": "http://69.59.197.10:7020/haproxy" },
                { "name": "LB02", "url": "http://69.59.197.11:7020/haproxy" }
            ]
        }
    ],
    "aliases": {
        "be_so": "Stack Overflow",
        "be_others": "Others - SE 2.0",
        "be_meta_so": "Meta Stack Overflow",
        "be_area51_stackexchange_com" : "Area 51 & StackExchange.com",
        "be_sstatic": "sstatic.net",
        "be_stackauth": "Stack Auth",
        "be_so_crawler": "Stack Overflow - Crawlers",
        "be_careers": "Careers",
        "be_openid": "OpenID - StackID",
        "be_internal_api": "Internal API",
        "be_api_1.1": "API v1.1",
        "be_api": "API v2.0",
        "be_careers_dev": "Development - Careers",
        "be_teamcity": "TeamCity",
        "be_wordpress": "Blogs - Wordpress",
        "be_blog_se": "Blogs - Stack Exchange",
        "be_se_one": "SE 1.0",
        "be_se_one_export": "SE 1.0 - Export",
        "be_apaches": "LAMP Stack",
        "be_status": "Network Status",
        "be_haproxylogs": "HAProxy Logs",
        "be_promoweb": "Promotions",
        "be_qa_websockets": "Q&A Websockets",
        "be_chat_websockets": "Chat Websockets",
        "be_promoweb01_only": "Promo 01 Only",
        "be_mobile": "Mobile",
        "smtp": "SMTP",
        "data-explorer": "Data Explorer",
        "local-sede": "Local SEDE",
        "chat-dev": "Chat - Dev",
        "chat-meta": "Chat - Meta",
        "dev": "Development",
        "chat": "Chat",
        "or_sstatic": "or.sstatic.net",
        "or_blog": "OR Blogs"
    },
    "traffic": {
        "connections": [
            { "name": "New York", "connectionString": "Data Source=ny-db05.ds.stackexchange.com;Initial Catalog=HAProxyLogs;Integrated Security=SSPI;" }
        ]
    }
}