<?xml version="1.0" encoding="utf-8"?>
<SecuritySettings provider="alladmin">
	<!-- Optional, these networks can see the overview dashboard without authentication -->
    <InternalNetworks>
        <Network name="AHCS Internal" cidr="10.44.14.0/24" />
    </InternalNetworks>
</SecuritySettings>

<!-- 
Example of global access for everyone:
<SecuritySettings provider="alladmin" />
-->