<?xml version="1.0" encoding="utf-8"?>
<SecuritySettings provider="AD">
	<!-- Optional, these networks can see the overview dashboard without authentication -->
    <InternalNetworks>
        <Network name="SE Internal" cidr="10.0.0.0/8" />
    </InternalNetworks>
</SecuritySettings>

<!-- 
Example of global access for everyone:
<SecuritySettings provider="alladmin" />
-->

<!-- 
Example of windows authentication access:
<SecuritySettings provider="windowsauth" />
  To use this, also change Web.config:
    - in the <system.web> section:
          - remove this block:
            <authentication mode="Forms">
              <forms name=".ADTkn" loginUrl="~/login" timeout="10080" slidingExpiration="true" protection="All" defaultUrl="~/" cookieless="UseCookies" />
            </authentication>
          - replace it with <authentication mode="Windows" />
-->