<?xml version="1.0" encoding="utf-8"?>
<SecuritySettings provider="AD" apiKey="myKey" authUser="myUser" authPassword="myPassword">
	<!-- Optional, these networks can see the overview dashboard without authentication -->
    <InternalNetworks>
        <Network name="SE Internal" cidr="10.0.0.0/8" />
    </InternalNetworks>
</SecuritySettings>

<!-- 
Example of global access for everyone:
<SecuritySettings provider="alladmin" />
-->