{
    "defaultConnectionString": "Data Source=$ServerName$;Initial Catalog=master;Integrated Security=SSPI;",
    "clusters": [
        {
        	"name": "NY-SQLCL03",
        	"refreshIntervalSeconds": 20,
        	"nodes": [
        		{ "name": "NY-SQL01" },
        		{ "name": "NY-SQL02" },
        		{ "name": "OR-SQL01" },
        	]
        },
        {
        	"name": "NY-SQLCL04",
        	"refreshIntervalSeconds": 20,
        	"nodes": [
        		{ "name": "NY-SQL03" },
        		{ "name": "NY-SQL04" },
        		{ "name": "OR-SQL02" },
        	]
        }
    ],
    "instances": [
        { 
            "name": "NY-DB05",
            "connectionString": "Data Source=NY-DB05;Initial Catalog=bob;Integrated Security=SSPI;", 
        },
        { "name": "NY-DESQL01" },
        { "name": "NY-RESTORESQL01" },
        { "name": "NY-UTILSQL01" },
        { "name": "OR-DESQL01" },
        { "name": "OR-HALOG01" }
    ]
}