{
    "url": "http://my.teamcity.server.url",
    "user": "teamcityuser",
    "password": "teamcitypass",
    "buildFetchIntervalSeconds": 30,
    "serverMaps": {
        "ny-web01": ["bt111","bt121","bt10","bt52","bt19","bt17","bt125","bt26","bt14","bt25","bt68"],
        "ny-web02": ["bt111","bt121","bt10","bt52","bt19","bt17","bt125","bt26","bt14","bt25","bt68"],
        "ny-web03": ["bt111","bt121","bt10","bt52","bt19","bt17","bt125","bt26","bt14","bt25","bt68"],
        "ny-web04": ["bt111","bt121","bt10","bt52","bt19","bt17","bt125","bt26","bt14","bt25","bt68"],
        "ny-web05": ["bt111","bt121","bt10","bt52","bt19","bt17","bt125","bt26","bt14","bt25","bt68"],
        "ny-web06": ["bt111","bt121","bt10","bt52","bt19","bt17","bt125","bt26","bt14","bt25","bt68"],
        "ny-web07": ["bt111","bt121","bt10","bt52","bt19","bt17","bt125","bt26","bt14","bt25","bt68"],
        "ny-web08": ["bt111","bt121","bt10","bt52","bt19","bt17","bt125","bt26","bt14","bt25","bt68"],
        "ny-web09": ["bt111","bt121","bt10","bt52","bt19","bt17","bt125","bt26","bt14","bt25","bt68"],
        "ny-web10": ["bt21","bt120","bt4","bt5","bt18","bt16","bt124","bt23","bt13","bt24","bt28","bt67"],
        "ny-web11": ["bt21","bt120","bt4","bt5","bt18","bt16","bt124","bt23","bt13","bt24","bt28","bt67"],
        "ny-sql01": ["bt5","bt10","bt19","bt17","bt125","bt14","bt25"],
        "ny-sql02": ["bt5","bt10","bt19","bt17","bt125","bt14","bt25"],
        "ny-sql03": ["bt111","bt121","bt5","bt10","bt19","bt17","bt125","bt26","bt14","bt25","bt29","bt68"],
        "ny-sql04": ["bt111","bt121","bt5","bt10","bt19","bt17","bt125","bt26","bt14","bt25","bt29","bt68"],
        "ny-promoweb01": ["bt55","bt40"],
        "ny-promoweb02": ["bt55","bt40"]
    }
}