{
    "users": [
        {
        	"name": "Sample User",
        	"userName": "username",
        	"password": "password",
            "groups": [
                { 
                    "name":"Admin"
                }
            ]
        }      
    ]
}