body, div {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans-seris;
    font-size: 16px;
    color: #444;
    line-height: 1.3;
    background: #0f2a4c;
    overflow-x: hidden;
}

.intro, .content {
    width: 100%;
    background: #f4f4f4;
}

.content {
    background-color: #fcfcfc;
    border-top: 1px solid #fff;
    overflow: auto;
    min-height: 330px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);		
    text-align: center;
    overflow-x: hidden;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

a {
    color: #62b0df;	
    text-decoration: none;
}

a:visited {
    color: #326eb6;	
}

h2 {
    font-size: 25px;
    font-weight: normal;	
}

ul {
    list-style: none;	
    margin-left: 0;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;	
    border-bottom: 1px solid #f2f2f2;
    margin-left: 0;
    padding-bottom: 15px;
}

.logo { 
    text-indent: -999em;
    display: block;
    width: 401px;
    height: 118px;
    background: transparent url("/Content/img/logo/logo-login.png") no-repeat;	
    clear: left;
    margin: 0 auto;
}

/* Todo: Sprite all logos */
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5)
{
    .logo {
        background-image: url("/Content/img/logo/logo-login@2x.png");
        background-size: 401px 118px;
    }
}


.intro {
    text-align: center;
}

.introtext {
    color: #3a6da6;
    font-size: 55px;	
    text-shadow: 0 1px 1px #fff;
    text-transform: lowercase;
    clear: both;
    margin: 26px auto 28px auto;
}

.center-container {
    width: 601px;
    text-align: center;
    margin: 0 auto;
}

.footer {
    font-size: 12px;
    color: #fff;
    padding: 20px 0 35px 0;
}

.fr { float: left; display: inline-block; }

.footer .wrapper a 
{
    padding-right: 5px;
}
.inputs input {
    font-size: 16px;
    margin-bottom: 15px;
    padding: 5px;
}
.inputs input[type="text"], .inputs input[type="password"] {
    border: 1px solid #CECECE;
    line-height: 1.5;
    background: white;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    border-image: initial;
}

.inputs input.orange-submit, .orange-submit:visited {
    border: 1px solid transparent;
    color: #FFF;
    cursor: pointer;
    line-height: normal;
    padding: .3em .7em;
    position: relative;
    text-decoration: none;
    -webkit-box-shadow: 0 2px 1px rgba(0,0,0,.3),0 1px 0 rgba(255,255,255,.4) inset;
    box-shadow: 0 2px 1px rgba(0,0,0,.3),0 1px 0 rgba(255,255,255,.4) inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-width: 90px;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    border-color: #e96601;
    background-color: #fe7a15;
}
.error {
    padding-top: 20px;
    color: maroon;
    font-weight: bold;
    font-size: 14px;
}