@model StackExchange.Opserver.Views.Hub.HubModel
@{
    this.SetPageTitle("Hub");
}
@section head {
    <meta http-equiv="refresh" content="@(15*60)">
    <script>
        $(function() {
            Status.Dashboard.init({ refresh: 60 });
        });
    </script>
    }
<div>
    <div class="small js-isotope js-refresh" data-name="all-servers">
        @if (Current.Settings.SQL.Enabled)
        {
            @Html.Partial("Index.SQL")
        }
        @if (Current.Settings.Elastic.Enabled)
        {
            @Html.Partial("Index.Elastic")
        }
        @if (Current.Settings.HAProxy.Enabled)
        {
            @Html.Partial("Index.HAProxy")
        }
    </div>
</div>