@using StackExchange.Opserver.Views.Hub
@model HubModel
@{
    this.SetPageTitle("Hub");
}
@section head {
    <script>
        $(function() {
            Status.Dashboard.init({ refresh: 60 });
        });
    </script>
}
<div>
    <div class="small js-isotope js-refresh" data-name="all-servers">
        @foreach (var v in HubView.Views)
        {
            <div class="col-md-4">
                @Html.Partial(v.ViewName)
            </div>
        }
    </div>
</div>