@{
    this.SetPageTitle("Access Denied");
}
<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center" style="margin-top: 100px">
        <h2>
            <span class="text-danger glyphicon glyphicon glyphicon-lock"></span> Access Denied
        </h2>
        <p>
            You do not have permissions to see this page.
        </p>
    </div>
</div>