<div class="center-container">
    <h1>发生错误!</h1>
    <div class="desc">对不起，您的请求发生异常！</div>
</div>
<!-- Actual error:
@{
    var o = HttpContext.Current.ApplicationInstance.Application["LastError"] as Exception;
    if (o != null) { 
        @o.GetBaseException().Message
    }
}
-->