<div class="center-container">
    <h1>错误!</h1>
    <div class="desc">Sorry, an error occurred while processing your request.</div>
</div>
<!-- Actual error:
@{
    var o = HttpContext.Current.ApplicationInstance.Application["LastError"] as Exception;
    if (o != null) { 
        @o.GetBaseException().Message
    }
}
-->