<div class="center-container wide">
    <h1>Uh oh! No Configuration!</h1>
    <div class="desc" style="padding-top: 20px;">
        No configuration data was found, meaning no opserver sections are configured or enabled, or you have no roles assigned to you.  <br/><br/>
        See the Readme.txt in the /config directory and .example files for examples of a basic JSON configuration...or you can implement your own provider to get settings from anywhere. <br/><br/>
        If you are using AD authentication, be sure to set the ViewGroups or AdminGroups settings in the web.config or in the section configuration. <br/><br/>
        You can also browse to @Html.ActionLink("About", "about") to see how you have been authenticated and what monitors have been enabled.
    </div>
</div>