@model StackExchange.Opserver.Views.Shared.PageNotFoundModel
@{
    this.SetPageTitle("404 - Not Found");
}
<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center" style="margin-top: 100px">
        <h2>
            <span class="text-info glyphicon glyphicon-question-sign"></span> @Model.Title.IsNullOrEmptyReturn("404 - Not Found")
        </h2>
        <p>
            @Model.Message.IsNullOrEmptyReturn("The page you were looking for could not be found.")
        </p>
    </div>
</div>