@model StackExchange.Opserver.Views.Shared.TopRefreshModel
@{
    Layout = null;
}
<div>
    @Html.Partial("~/Views/Shared/TopTabs.cshtml", Model.Tab)
</div>
<ul>
    @Html.Partial("IssuesList")
</ul>