@using StackExchange.Opserver.Models
@using StackExchange.Profiling
@{
    Layout = null;
}
@if (!TopTabs.HideAll)
{
    using (MiniProfiler.Current.Step("TopTabs"))
    {
        <div class="top-tabs">
            @foreach (var tab in TopTabs.Tabs.Values)
            {
                @tab.Render()
            }
        </div>
    }
}    