@model StackExchange.Opserver.Views.Shared.TopRefreshModel
@{
    Layout = null;
}
<div>
    <partial name="~/Views/Shared/TopTabs.cshtml" model="Model.Tab" />
</div>
<ul>
    <partial name="IssuesButton" />
</ul>