@using Jil
@using StackExchange.Opserver.Views.CloudFlare
@model RailgunsModel
<p></p>
<div class="row">
    @foreach (var rg in Model.Railguns)
    {
        var stats = rg.Stats;
        <div class="col-md-4">
            <div class="panel @(stats.LastPollSuccessful ? "panel-default" : "panel-danger")">
                <div class="panel-heading">
                    @rg.Name <span class="text-muted small">(@rg.Stats.ToPollSpan())</span>
                </div>
                <div class="panel-body">
                    @if (stats?.Data == null)
                    {
                        @:Error polling node
                    }
                    else
                    {
                        dynamic parsedJson = JSON.DeserializeDynamic(stats.Data);
                        <pre>@(JSON.SerializeDynamic(parsedJson, Options.PrettyPrint))</pre>
                    }
                </div>
            </div>
        </div>
    }
</div>