<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.38" targetFramework="net45" />
  <package id="EasyHttp" version="1.6.58.0" targetFramework="net45" />
  <package id="Jil" version="2.7.0" targetFramework="net45" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net45" />
  <package id="MiniProfiler" version="3.1.1.140" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="Sigil" version="4.3.1" targetFramework="net45" />
  <package id="SnmpSharpNet" version="0.9.4" targetFramework="net45" />
  <package id="StackExchange.Exceptional" version="1.0.111" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.0.394" targetFramework="net45" />
  <package id="TeamCitySharp" version="0.3.5" targetFramework="net45" />
</packages>