@using StackExchange.Opserver.Views.Elastic
@model DashboardModel
@{
    Layout = null;
}
<h4 class="modal-title">
    @Model.CurrentCluster.Name Index Details
</h4>
<partial name="Indexes.Table" model="Model" />