@using StackExchange.Opserver.Data.PagerDuty
@model List<OnCallAssignment>
@{
    Layout = null;
    this.SetPageTitle("PagerDuty Full Escalation");
}
<h4 class="modal-title">
    Full Escalation Schedule
</h4>
<table class="table table-striped table-hover table-super-condensed table-responsive text-nowrap">
    <thead>
        <tr>
            <th>Name</th>
            <th>Level</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model.OrderBy(u => u.EscalationLevel))
        {
            @Html.Partial("PagerDuty.OnCallRow", a)
        }
    </tbody>
</table>

