@using System.Text
@using StackExchange.Opserver.Data.PagerDuty
@using StackExchange.Opserver.Views.PagerDuty

@model PagerDutyModel
@{
    Layout = "~/Views/Shared/Master.cshtml";
    this.SetPageTitle("PagerDuty");
    //this.SetTopNodes();
    //this.SetMainTab(MainTab.PagerDuty);

}




<div class="dashboard-list">
   The person currently on call is: <img src="@Model.PrimaryOnCall.Avatar"/> @Model.PrimaryOnCall.FullName, you can bug him at: @Model.PrimaryOnCall.Email 
    
</div>

