@using System.Text
@using StackExchange.Opserver.Data.PagerDuty
@using StackExchange.Opserver.Views.PagerDuty

@model PagerDutyModel
@{
    Layout = "~/Views/Shared/Master.cshtml";
    this.SetPageTitle("PagerDuty");
    this.SetMainTab(MainTab.PagerDuty);

}




<div class="dashboard-list">
    @{
        @PagerDutyApi.GetInstance().PrimaryOnCall.Data;
    }
</div>

