@using System.Text
@using StackExchange.Opserver.Data.PagerDuty
@using StackExchange.Opserver.Views.PagerDuty

@model List<PagerDutyPerson>
@{
    Layout = null;
    this.SetPageTitle("PagerDuty Full Escalation");

}

<h1>Full Escalation</h1>
<table class="node-dashboard main-dashboard">
<tbody class="node-header">
<tr class="category-row">
    <th colspan="8">
        <h1>On Call (<a href="#/pagerduty/escalation/full"></a>)
        </h1>
    </th>
</tr>
<tr>
    <th>Name</th>
    <th>Level</th>
    <th>Email</th>
    <th>Phone</th>
</tr>
@{
    foreach (var p in PagerDutyApi.Instance.AllUsers.Data.OrderBy(u => u.Schedule[0].EscalationLevel))
    {
        <tr>
            <td>@p.FullName</td>
            <td>@p.Schedule[0].EscalationLevel</td>
            <td>@p.Email</td>
            <td>@p.ContactMethods.First(c => c.Type == "phone").Address</td>
        </tr>
    }
}
</tbody>
</table>

