@model DashboardModel
@{
    this.SetPageTitle("Dashboard");

    this.SetTopSearch("All Nodes",
              Model.Filter,
              Url.Action(nameof(DashboardController.Dashboard)));
}
@section head {
    <script>
    $(function() {
        Status.Dashboard.init({ refresh: 60, filter: '@(Model.Filter)' });
    });
    </script>}
<div>
    <partial name="Dashboard.Table" model="Model" />
</div>