@model DashboardModel
@{
    Layout = "~/Views/Shared/Master.cshtml";
    this.SetPageTitle("Dashboard");

    this.SetTopSearch("All Nodes",
              Model.Filter,
              Url.Action(nameof(DashboardController.Dashboard)));
}
@section head {
    <script>
    $(function() {
        Status.Dashboard.init({ refresh: 60, filter: '@(Model.Filter)' });
    });
    </script>}
@section preload {
    @RenderSection("preload", false)
}
<div>
    @RenderBody()
</div>